*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(20, 21, 48, 0.7),rgba(29, 44, 49, 0.7)),url(background.png.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 30px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 100%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 80px;

}
p{
   color: #fff;
   font-size: 15px;
   line-height: 15px;
}
button{
    width: 180px;
    color: #000000;
    font-size: 13px;
    padding: 13px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 11px;
    padding: 16px 26px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 11px 16px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(image/shalli.png);
}
.card2{
    background-image: url(image/pluto.png);
}
.card3{
    background-image: url(image/zerrydl.png);
}
.card4{
    background-image: url(image/Shallipopi.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #999;
    font-size: 8px;
}